:root {
  --color-primary: #c73b0f;
  --color-outline: #ad8a85;
  --color-accent: #ffeadb;
  --color-text: #260f08;
  --color-subtitle: #8c6e5a;
  --color-bg: rgb(252, 248, 246);
  --color-delete: #b19995;

  --borderRadius-button: 20px;
  --borderRadius-card: 10px;

  /* TYPOGRAPHY */
  --title-size: 40px;
  --title-style: 700;
  --cart-title-size: 24px;
  --button-subtitle-size: 14px;
  --button-subtitle-style: 500;
  --card-title-size: 18px;
  --card-title-style: 600;
  --card-subtitle-size: 16px;
  --card-subtitle-style: 300;
}

*,
*::after,
*::before {
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}

img {
  display: block;
  max-width: 100%;
}

a {
  text-decoration: none;
  color: inherit;
}

nav ul {
  list-style: none;
  padding-left: 0;
  margin-top: 0;
  margin-bottom: 0;
}

body {
  margin: 0;
  font-family: 'Red Hat Text';
  color: var(--color-text);
  background-color: var(--color-bg);
  display: flex;
  flex-direction: column;
}

@media (min-width: 760px) {
  body {
    align-items: center;
  }
}
/* @media (min-width: 1440px) {
  body {
    justify-items: center;
    align-content: center;
  }
} */

/* Cards */

@media (min-width: 1440px) {
  .main {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    width: 92%;
    gap: 15px;
  }
}

.shopping-cart {
  background-color: white;
  border-radius: 1.5rem;
  padding: 22px;
  max-width: 88%;
  margin: 32px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 10px;
}
@media (min-width: 760px) {
  .shopping-cart {
    margin-inline: auto;
  }
}
@media (min-width: 1440px) {
  .shopping-cart {
    width: 380px;
    margin: 0;
  }
}
.empty-cart {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-items: center;
}
.empty-cart-image {
  width: 120px;
}
.cart-title {
  font-size: var(--cart-title-size);
  font-weight: bold;
  color: var(--color-primary);
}

.cart-items {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 100%;
  /* margin-inline: auto; */
}

.product-summary {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  border-bottom: solid 1px var(--color-outline);
  padding: 14px 0;
}
.product-summary-text-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 4px;
  font-size: var(--card-subtitle-size);
}

.product-summary-title {
  font-weight: var(--card-title-style);
}

.product-summary-prices {
  display: flex;
  flex-direction: row;
  width: 100%;
  gap: 15px;
}

.product-summary-quantity {
  color: var(--color-primary);
  font-weight: var(--card-title-style);
}

.product-summary-price {
  color: var(--color-subtitle);
}

.product-summary-finalPrice {
  color: var(--color-subtitle);
  font-weight: var(--card-title-style);
}

.remove-item {
  width: 25px;
  height: 25px;
  cursor: pointer;
  border: solid 2px var(--color-delete);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 3px;
}

.order-total-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.order-total-text {
  font-weight: var(--card-subtitle-style);
}

.order-total-price {
  font-weight: var(--card-title-style);
  font-size: 20px;
}

.hide {
  display: none;
}
